.wrap-game {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1vh;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.label-game {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 60vw;
    margin: 1rem;
}

.link-game {
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.5s ease;
    background-color: var(--accent-color);
    padding: 1rem;
    border-radius: 0.8rem;
}

.link-game:hover {
    background-color: var(--secondary-color);
    transition: all 0.5s ease;
}

.active {
    text-decoration: underline;
}

.link-game:first-child {
    justify-self: start;
}

.game-mode {
    grid-column: 2;
    justify-self: center;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: 0.8rem;
}

.link-game:last-child {
    justify-self: end;
}

.game {
    display: grid;
    gap: 0.5rem;
    padding: 0.2rem;
    width: 50%;
    /* height: 80%; */
    margin-top: 1vh;
    place-items: center;
    border-radius: 15px;
    background-color:rgb(61, 49, 149, 0.5);
}

.game div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.2vw;
    height: 9.25vh;
    background-color: var(--text-color);
    border: 9px var(--secondary-color);
    border-style: double;
    border-radius: 2rem;
    transition: all 0.5s ease;
}

.flip div {
    background-color: var(--secondary-color);
}

.game div:hover {
    box-shadow: 2px 4px 8px rgba(56, 163, 165, 1);
    transition: all 0.5s ease;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    border: 4px double var(--text-color);
    transition: all 0.5s ease;
    width: 100%;
    height: 100%;
}

.cards:hover {
    box-shadow: 2px 4px 8px rgba(56, 163, 165, 1);
}

.img-cards {
    width: 70%;
    height: auto;
}

.leave {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 3vw;
    height: 5.33vh;
    border: 2px solid var(--secondary-color);
    border-radius: 100%;
    right: 1rem;
    transition: all 0.5s ease;
}

.leave:hover {
    background-color: var(--secondary-color);
    transition: all 0.5s ease;
}

.btn-leave {
    width: 1vw;
}

.robot-game {
    position: absolute;
    bottom: 0;
    left: 9vh;
    width: 20vw;
    z-index: -1;
}