.profile-header {
    background-color: #354FAB;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 60vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: #fff;
    z-index: 0;
    top: 0;
}

h2 {
    font-size: 2rem;
}


.profile-info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 6rem;
}

.line-data {
    display: flex;
    flex-direction: row;
}

.profile-img {
    margin-top: 20rem;
    width: 40vmin;
    height: 40vmin;
    border: 10px solid var(--secondary-color);
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.name,
.tel {
    margin: 0;
    font-size: 1rem;
    background-color: rgba(250, 255, 255, 0.764);
    border: none;
    color: var(--primary-color);
    padding: 0.5rem;
    text-decoration: underline;
    margin-right: 1rem;
    border-radius: 10px;
}

.name {
    font-size: 1.5rem;
    font-weight: 900;
}

.username,
.email,
.birth,
.cpf {
    margin: 0;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    color: #FFF;
    padding: 0.5rem;
}

.edit-profile {
    width:1rem;
    position: relative;
}


.profile-stats {
    display: flex;
    gap: 2rem;
    margin-top: -3rem;
    justify-content: center;
    margin-left: 40vmin;
}

.stat {
    margin-top: 2rem;
    background-color: var(--secondary-color);
    width: 10vw;
    height: 20vh;
    z-index: 10;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    gap: 0;
}

.stat-label {
    font-size: 1rem;
    text-align: center;
}

.stat-value {
    font-size: 2rem;
    text-align: center;
}

.stat-label,
.stat-value {
    margin: 3px;
    line-height: 1.1;
}