.background-register-image {
    position: absolute;
    bottom: 0;
    left: 0 ;
    width: 50vw;
    height: auto;
    opacity: 0.6;
    z-index: -1;
}

.wrap-login {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-login {
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
}

.box-welcome {
    width: 50%;
    background-color: var(--register-color);
    padding: 1vw;
    border-radius: 10% 0 0 10%;
    position: relative;
    overflow: hidden;
}

.waves{
    position: absolute;
    top: -10%;
    left: -8%;
    width: 80%;
    height: auto;
    opacity: 0.6;
    z-index: 0;
}

.text-welcome {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 20vh;
}

.text-welcome p,
.text-welcome h1 {
    margin: 0;
    line-height: 1.2rem;
}

.box-welcome h1,
.welcome-first,
.welcome-second,
.robot-register {
    position: relative;
    z-index: 1;
}

.box-welcome h1 {
    color: var(--title-color);
    font-size: 3vw;
    font-weight: 900;
}

.welcome-first,
.welcome-second {
    color: var(--text-color);
}

.welcome-first {
    font-size: 2vw;
    font-weight: 900;
}

.welcome-second {
    font-size: 1vw;
}

.robot-register {
    width: 15vw;
}

.box-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 2rem;
    background-color: var(--text-color);
    border-radius: 0 10% 10% 0;
}

.register {
  gap: 0.5rem;
}

.label-input {
    position: relative;
    display: inline-block;
}

.input-login,
.input-register {
  padding-left: 2.5vw;
  align-items: center;
  width: 80%;
  max-width: 40vw;
  min-width: 20vw;
  height: 5vh;
  border-radius: 25px;
  border: 2px solid var(--light-gray);
  box-sizing: border-box;
}

.register-log {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.register-log label {
    color: var(--light-gray);
}

.register-log a {
    color: var(--back-color);
    transition: all 0.5s ease;
}

.register-log a:hover {
    color: var(--detail-color);
    transition: all 0.5s ease;
}

.submit-login,
.submit-register {
    background-color: var(--button-color);
    color: var(--text-color);
    width: 25vw;
    max-width: 50vh;
    min-width: 20vw;
    height: 5vh;
    margin-top: 3vh;
    border-radius: 25px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease;
}

.submit-login:hover,
.submit-register:hover {
    background-color: var(--hover-color);
    transition: all 0.5s ease;
}

.img-icon-label {
    position: absolute;
    left: 1vw;
    top: 50%;
    width: 1vw;
    height: 3vh;
    pointer-events: none;
    transform: translateY(-50%);
}

.img-icon-pass {
    position: absolute;
    right: 20px;
    top: 50%;
    width: 18px;
    height: 24px;
    cursor: pointergi;
    transform: translateY(-50%);
}


.upload {
    display: none;
}

.custom-file-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    background-color: transparent;
    border: 2px solid var(--light-gray);;
    color: var(--back-color);
    font-size: 0.7rem;
    padding: 0.8rem 1.5rem;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.custom-file-upload:hover {
    background-color: var(--back-color);
    color: var(--text-color);
    transition: all 0.3s ease;
}