.selection-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.selection-wrapper section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 5vw;
  position: relative;
  z-index: 1;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 18vh;
  gap: 3rem;
  position: relative;
  z-index: 1;
}

.game-modes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.wrap-mode {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
}

.wrap-tableMode {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.wrap-tableMode input[type="radio"] {
  display: none; 
}

.wrap-tableMode label img {
  width: 9rem;
  height: 9rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 50%;
}

.wrap-tableMode input[type="radio"]:checked + label img {
  box-shadow: 0 0 15px #38a3a5;
  transform: scale(1.1);
}

.right-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  z-index: 1;
}

.right-content img {
  max-width: 80%;
  height: auto;
  display: block;
}

.welcome {
  margin: 0;
  font-size: 1.2rem;
  color: var(--text-color);
}

.mode-selection {
  margin: 0;
  font-size: 1.8rem;
  color: var(--text-color);
}