body {
    background-color: #301446;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    box-sizing: border-box;
    background-color: transparent;
    color: #fff;
    z-index: 3;
}

.title-header {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 900;
    color: #fff;
}

.nav-header {
    display: flex;
    gap: 2rem;
    margin: 0 auto;
}

.nav-header a,
.exit-header a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.nav-header a:hover,
.exit-header a:hover{
    text-shadow: 2px 4px 8px rgba(56,163,165,1);
}

.exit-header img {
    width: 20px;
}

.top-home {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.top-home a {
    color: #FFFFFF;
    padding-top: 1vh;
    padding-right: 3vw;
    transition: all 0.5s ease;
}

.top-home a:hover {
    text-shadow: 2px 4px 8px rgba(56, 163, 165, 1);;
    transition: all 0.5s ease;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.homepage-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.container-home {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 50vw;
    margin-left: 10vw;
}

.title-home {
    color: #FFFFFF;
    z-index: 1;
    font-weight: 900;
    font-size: 4vw;
}

.text-home {
    color: #FFFFFF;
    z-index: 1;
    font-size: 1.5vw;
}

.robot-home {
    margin-right: 10vw;
    margin-top: 25vh;
    z-index: 1;
}

.robot-home img{
    width: 30vw;
    height: auto;
}

.button-register {
    width: 50vw;
    margin-left: 25vw;
    align-self: flex-start;
    z-index: 1;
}

.button-register a {
    color: #FFFFFF;
    background-color: #3D3195;
    padding: 3vh 4vw;
    border-radius: 30px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.3s ease;
}

.button-register a:hover,
.submit-register:hover,
.submit-login:hover {
    background-color: #3259B3;
    transition: all 0.3s ease;
}

.arrow-register {
    height: 2vh;
    width: auto;
}

.background-home-image {
    position: absolute;
    top: 0;
    left: 0 ;
    width: 50vw;
    height: auto;
    opacity: 0.6;
    z-index: 0;
}