body {
    background-color: #301446;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.top-home{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.top-home a{
    color: #FFFFFF;
    padding-top: 5px;
    padding-right: 30px;
    transition: all 0.5s ease;
}

.top-home a:hover {
    text-shadow: 2px 4px 8px rgba(56, 163, 165, 1);;
    transition: all 0.5s ease;
}

.homepage {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}

.homepage-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.container-home {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 50vw;
    margin-left: 10vw;
}

.title-home {
    color: #FFFFFF;
    z-index: 1;
    font-weight: 900;
    font-size: 4vw;
}

.text-home {
    color: #FFFFFF;
    z-index: 1;
    font-size: 1.5vw;
}

.robot-home {
    margin-right: 10vw;
    margin-top: 25vh;
    z-index: 1;
}

.robot-home img{
    width: 30vw;
    height: auto;
}

.button-register {
    width: 50vw;
    margin-left: 25vw;
    align-self: flex-start;
    z-index: 1;
}

.button-register a {
    color: #FFFFFF;
    background-color: #3D3195;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem; 
    transition: all 0.3s ease;
}

.button-register a:hover {
    background-color: #3259B3;
    transition: all 0.3s ease;
}

.arrow-register {
    height: 2vh;
    width: auto;
}

.box-purple {
    background-color: #5C3DD9;
    width: 80vh;
    height: 70vh;
    color: #FFFFFF;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    z-index: 1;
}

.box-white {
    background-color: #F2F2F2;
    width: 80vh;
    height: 70vh;
    color: #000000;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.welcome-white {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 58px;
    margin-top: -250px;
    margin-left: 40px;
    z-index: 3;
}

.welcome-purple {
    color: #4A006F;
    font-weight: 900;
    font-size: 72px;
    margin-top: -60px;
    margin-left: 40px;
    z-index: 4;
}

.info-register {
    font-weight: 200;
    font-size: 24px;
    margin-top: -40px;
    margin-left: 50px;
}

/* Classe da elipse do background que tem na maioria das telas */
.background-image {
    position: absolute;
    bottom: 0px;
    left: 100px;
    width: 400px;
    opacity: 0.6;
    z-index: 0;
}

.background-home-image {
    position: absolute;
    top: 0;
    left: 0 ;
    width: 50vw;
    height: auto;
    opacity: 0.6;
    z-index: 0;
}

/* Classe das linhas na tela de cadastro/login */
.three_lines {
    margin-left: -40px;
    margin-top: -45px;
    opacity: 0.5;
    z-index: 2;
}

/* Classe do icone do robo na tela de cadastro/login */
.icon_robot {
    width: 250px;
    margin-left: 30px;
    transform: rotate(-10deg);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 140px;
}

.form-container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 200px;
}

.label-input {
    position: relative;
    display: inline-block;
}

.icon_label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    pointer-events: none;
}

.icon_pass {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
}

.name-register {
  padding-left: 35px;
  align-items: center;
  width: 40vh;
  height: 35px;
  border-radius: 25px;
  border: 2px solid #A5A5A5;
}

.submit-register {
    background-color: #3D3195;
    color: #FFFFFF;
    width: 50vh;
    height: 50px;
    margin-top: 30px;
    border-radius: 25px;
    font-size: 24px;
}